set nocompatible
filetype off

" ideavim plugins
set surround
set vim-easymotion
set vim-commentary
set ideajoin

" HERE IS MY SETTINGS
"
let mapleader =","

" for base16 colorscheme
" let base16colorspace = 256 " Access colors present in 256 colorspace
set background=dark
colorscheme apprentice

set number           " left collon with numbers
syntax enable        " turn on all the magick, including explorer and syntax highlighting
set ruler            " turn on the ruller (status info) at the bottom of the screen

" set cursorline

" highlight search result
set hlsearch

" highlight when search is typing
set incsearch

" ENCODING
set fileencoding=utf-8
set encoding=utf-8
" set termencoding=utf8


" REMAPPING
" Esc to Ctrl+L
imap <C-L> <Esc>
vmap <C-L> <Esc>
" ESC to Alt+a
imap <A-a> <Esc>
" ESC to Alt+i
imap <A-i> <Esc>
" turning off highlighting after search
nnoremap <C-L> :noh<return><esc> 
" toggle NerdTree
nnoremap <C-\> :NERDTreeToggle<CR>


" KEYMAPPING Russian keyboard
set keymap=russian-jcukenwin
set iminsert=0
set imsearch=0
highlight lCursor guifg=NONE guibg=Cyan
" setlocal spell spelllang=ru_yo,en_us


" TAB/SPACE SETTING
set tabstop=4        " width of tab character
set expandtab        " space charecters when using tab
set shiftwidth=4     " > and <  moves 4 characters
" set softtabstop=4  " backspace delete whole 4spaced tab
set autoindent       " Automatically indent when adding a new line


" -------------------
" EASYMOTION SETTINGS
" -------------------
let g:EasyMotion_do_mapping = 0 " Disable default mappings

" Jump to anywhere you want with minimal keystrokes, with just one key binding.
" `s{char}{label}`
" nmap <C-f> <Plug>(easymotion-overwin-f)
" or
" `s{char}{char}{label}`
" Need one more keystroke, but on average, it may be more comfortable.
" nmap <C-f> <Plug>(easymotion-overwin-f2)

" Turn on case insensitive feature
let g:EasyMotion_smartcase = 1

" JK motions: Line motions
" map <Leader>j <Plug>(easymotion-j)
" map <Leader>k <Plug>(easymotion-k)
" let g:EasyMotion_startofline = 0 " keep cursor column when jk motion

" HL motions: same line motions
" map <Leader>l <Plug>(easymotion-lineforward)
" map <Leader>h <Plug>(easymotion-linebackward)


" turn off the shadow when easymotion
" let g:EasyMotion_do_shade = 0
" how to highlight words when easymotion
" hi link EasyMotion Search

if has("autocmd")
  " Enable file type detection
  filetype on

  " Syntax of these languages is fussy over tabs Vs spaces
  autocmd FileType make setlocal ts=8 sts=8 sw=8 noexpandtab
  autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab

  " Customisations based on house-style (arbitrary)
  autocmd FileType html setlocal ts=2 sts=2 sw=2 expandtab
  autocmd FileType css setlocal ts=2 sts=2 sw=2 expandtab
  autocmd FileType javascript setlocal ts=4 sts=4 sw=4 noexpandtab

  " Treat .rss files as XML
  autocmd BufNewFile,BufRead *.rss setfiletype xml

  " reload .vimrc after writing changes to disk
  autocmd! BufWritePost .vimrc source $MYVIMRC


endif

if has("win32")

    " ycm path tu rust src
    let g:ycm_rust_src_path = 'C:\Program Files\Rust stable MSVC 1.12\src'

endif

if has("gui_running")
    
    set guioptions-=T
    set guifont=Hack:h12
    set guifont=mononoki:h12

    if has("gui_win32")

        " Enable directX font rendering 
        set renderoptions=type:directx,gamma:1.0,contrast:0.5,level:1,geom:1,renmode:4,taamode:1

    endif


    
endif

