" ideavim plugins
set surround
set easymotion
set commentary
set ideajoin
set NERDTree

let mapleader =","

set number           " left collon with numbers
set relativenumber

set hlsearch         " highlight search result
set incsearch        " highlight when search is typing

set showmode         " show current mode
set showcmd          " show executed command

" REMAPPING
" Esc to Ctrl+L
imap <C-L> <Esc>
vmap <C-L> <Esc>
" turning off highlighting after search
nnoremap <C-L> :noh<return><esc> 

" EASYMOTION remapping
map <Leader>h <Plug>(easymotion-linebackward)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
map <Leader>l <Plug>(easymotion-lineforward)
